<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        {{>header}}
        <div>{{errorMessage}}</div>
        <img src='/images/giphy.gif' />
        {{>footer}}
    </body>
</html>